body {
    background-color: #f8f8f8;
    color: #444;
    font-family: "Droid Sans";
    font-size: .8em;
    font-style: normal;
}

body>header {
    padding-top: .8em;
}

body>header>.unespHeadings {
    display: none;
}

body>header>.sistemaHeadings, body>header>.unidadeHeadings {
    font-size: .9em;
}

body>header>.pageHeadings {
    background: #222;
    border: 1px solid #ddd;
    border-width: 1px 0;
    color: #eee;
    font-size: 1.5em;
    margin-top: .8em;
    padding: .5em 1em;
    text-align: center;
}

body>header>.pageHeadings a {
    border: 0px solid #ddd;
    border-radius: 5px;
    display: inline-block;
    margin: 0 .5em;
    padding: .5em;
}

body>header>.pageHeadings a:hover {
    background-color: #ccc;
}

body>header>.pageHeadings a:first-child {
    margin-left: 0;
}

body>nav {
    position: fixed;
    right: .3em;
    top: .3em;
    z-index: 3;
}

body>nav>ul>li {
    font-size: .8em;
}

#main {
    position: relative;
}

body>footer {
    display: none;
    font-size: .8em;
    text-align: center;
}

body>footer>address {
    padding: .3em;
}
