.itemList ul {
    list-style-type: none;
}

.itemList>.itemPath {
    border-bottom: 1px dashed #ddd;
    font-size: 1.2em;
    padding: .2em 1em;
    text-align: left;
}

.itemList>.itemPath a {
    border: 0px solid #ddd !important;
    border-radius: 5px !important;
    display: inline-block !important;
    margin: 0 .5em;
    padding: 1.5em .5em;
}

.itemList>.itemPath a:hover {
    background-color: #ccc;
}

.itemList>nav {
    border-bottom: 1px dashed #ddd;
}

.itemList>nav li, .itemList>.items li {
    display: inline-block;
    margin: .5%;
    vertical-align: top;
    max-width: 18.5%;
}

.itemList>nav li a, .itemList>.items li a {
    background-position: 5px 1.3em;
    background-repeat: no-repeat;
    border: 0px solid #ddd;
    border-radius: 5px;
    display: block;
    padding: 1.5em .5em;
    padding-left: 45px;
    word-wrap: break-word;
}

.itemList>.items li.mediaFile {
    max-width: 15%;
}

.itemList>.items li.mediaFile a {
    padding-bottom: 0;
    padding-left: .5em;
}

.itemList>.items li.mediaFile a img {
    max-width: 100%;
}

.itemList>.items li.mediaFile .caption {
    padding: .2em 0;
    text-align: center;
}

.itemList>nav li a:hover, .itemList>.items li a:hover {
    background-color: #eee;
}

.itemList>nav li.home a {
    background-image: url(ico/home_ico.png);    
}

.itemList>nav li.goback a {
    background-image: url(ico/goback_ico.png);    
}

.itemList>nav li.openMediaViewer a {
    background-image: url(ico/mediaViewer_ico.png);    
}

.itemList>nav li.closeMediaViewer a {
    background-image: url(ico/error_ico.png);    
}

.itemList>.items li.unknownFile a {
    background-image: url(ico/unknown_ico.png);    
}

.itemList>.items li.directoryFile a {
    background-image: url(ico/directory_ico.png);    
}

.itemList>.items li.documentFile a {
    background-image: url(ico/document_ico.png);    
}

.itemList>.items li.sheetFile a {
    background-image: url(ico/sheet_ico.png);    
}

.itemList>.items li.presentationFile a {
    background-image: url(ico/presentation_ico.png);    
}

.itemList>.items li.pdfFile a {
    background-image: url(ico/pdf_ico.png);    
}

.itemList>.items li.compactedFile a {
    background-image: url(ico/compacted_ico.png);    
}

.itemList>.items li.imageFile a {
    background-image: url(ico/image_ico.png);    
}
