/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/06/2014, 10:21:21
    Author     : dallan
*/



body>header {
    background: url(img/unesp500.png) no-repeat 5px 5px;
    text-align: center;
}

body>nav a {
    padding-bottom: .7em !important;
    padding-top: .7em !important;
}

body>header>.pageHeadings a, .itemList>.itemPath a {
    padding: 1.5em .5em !important;
}

.simpleForm input[type="text"], .simpleForm input[type="email"], 
.simpleForm input[type="password"], .simpleForm textarea, 
.simpleForm select, .simpleForm datalist {
    margin-bottom: 1em !important;
    margin-top: 1em !important;
    padding-bottom: .8em !important;
    padding-top: .8em !important;
}

.simpleTable tr a {
    padding-bottom: 1.2em !important;
    padding-top: 1.2em !important;
}

.itemList>nav li, .itemList>.items li {
    max-width: 31.5% !important;
}

.mediaViewerIsOpen>header, .mediaViewerIsOpen>footer {
    display: none;
}